/*utilities*/
nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
/*images*/
#pet-images {
    margin-top: 20px;
}

.pet-image {
    text-align: center;
    margin-bottom: 20px;
}

.pet-image img {
    width: 100%; /* Set the width to 100% to fill the container */
    max-width: 800px; /* Set a maximum width to prevent very large images from stretching */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Add rounded corners */
}

/*main*/
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f3e6;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 8px 8px 0 0; /* Rounded corners only at the top */
}
.bg-red{
    background-color: red;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: darkslategray;
}

#main-content {
    background-color: #c2f0c2;
    padding: 20px;
    border-radius: 8px;
}

#petCountSection {
    background-color: #ffe0cc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}

#petsCount {
    font-weight: bold;
    color: #ff6600;
}

#petListSection {
    background-color: #c2f0c2;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: #008000;
}

#petsNames {
    list-style-type: none;
    padding: 0;
}

#petsNames li {
    margin: 10px;
    padding: 8px;
    background-color: #b3d9ff;
    border-radius: 5px;
    display: inline-block;
    color: #004080;
}
@media screen and (min-width: 600px) {
    /* Adjust styles for screens wider than 600px */
    form {
        max-width: 400px;
        margin: 0 auto;
    }
}